{% extends 'base.html' %}

{% block content %}
<h2>Welcome to the UC Davis Genome Center's payment application.</h2>
<p>If you are a <a href="http://genomecenter.ucdavis.edu">Genome Center</a> customer, you may be directed to pay for core services on this site.  As we phase out use of <a href="http://cores.genomecenter.ucdavis.edu">cores.genomecenter.ucdavis.edu</a>, credit card payments will now be made here.</p>
<p>Customers who are unable to pay by UC Davis account, UC chartstring, or by purchase order may request to pay by credit card.  Please contact the Genome Center administrative staff for a payment link at "gccoreadmin@ucdavis.edu".
{% endblock %}