{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Payment details{% if not payment.is_paid %}<a class="btn btn-primary" href="{% url 'modify_payment' id=payment.id %}">Modify</a>{% endif %}</h2>
<div class="row">
  <div class="col-3">
    <strong>ID</strong>
  </div>
  <div class="col">
    {{payment.id}}
  </div>
</div>
<div class="row">
  <div class="col-3">
    <strong>Created</strong>
  </div>
  <div class="col">
    {{payment.created|date:'SHORT_DATETIME_FORMAT'}}
  </div>
</div>
<div class="row">
  <div class="col-3">
    <strong>Status</strong>
  </div>
  <div class="col">
    {{payment.status}}
  </div>
</div>
{% if payment.paid_at %}
<div class="row">
  <div class="col-3">
    <strong>Paid at</strong>
  </div>
  <div class="col">
    {{payment.paid_at|date:'SHORT_DATETIME_FORMAT'}}
  </div>
</div>
{% endif %}
{% if payment.external_id %}
<div class="row">
  <div class="col-3">
    <strong>External ID</strong>
  </div>
  <div class="col">
    {{payment.external_id}}
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col-3">
    <strong>Amount</strong>
  </div>
  <div class="col">
    ${{payment.amount}}
  </div>
</div>
<div class="row">
  <div class="col-3">
    <strong>Description</strong>
  </div>
  <div class="col">
    {{payment.description}}
  </div>
</div>
{% if not payment.is_paid and not payment.disabled %}
<div class="row">
  <div class="col-3">
    <strong>Payment URL</strong>
  </div>
  <div class="col">
    <a href="{% url 'pay' id=payment.id %}">https://{{request.get_host}}{% url 'pay' id=payment.id %}</a>
  </div>
</div>
{% endif %}
{% if payment.disabled %}<h3 class="text-danger">This payment has been disabled.</h3>{% endif %}
{% endblock %}