{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h2>Payments <a class="btn btn-primary float-right" href="{% url 'create_payment' %}">New</a></h2>
<!-- 
<table class="table table-striped">
<thead>
<tr><th>ID</th><th>Created</th><th>Status</th><th>Amount</th><th>Description</th></tr>
</thead>
{% for p in payments %}
<tr><td><a href="{% url 'payment' id=p.id %}">{{p.id}}</a></td><td>{{p.created|date:'SHORT_DATETIME_FORMAT'}}</td><td>{{p.status}}</td><td>${{p.amount}}</td><td>{{p.description}}</td></tr>
{% endfor %}
</table>
 -->
<div ng-app="payments">
{% verbatim %}
<div ng-controller="EventsController" ng-init="init()">
{{start_date}} {{end_date}}
	
	<div class="row"><label><input type="checkbox" ng-model="filters.disabled" ng-true-value="''", ng-false-value="'False'"/> Show disabled payments</label></div>
	<div class="row"><div class="col-1">Created</div><div class="col-11"><input type="date" ng-model="filters.created__gte"> - <input type="date" ng-model="filters.created__lte" ng-change="filters.created__lte.setDate(filters.created__lte.getDate() + 1)"></div></div>
	<div class="row"><div class="col-1">Paid</div><div class="col-11"><input type="date" ng-model="filters.paid_at__gte"> - <input type="date" ng-model="filters.paid_at__lte" ng-change="filters.paid_at__lte.setDate(filters.paid_at__lte.getDate() + 1)"></div></div>
	<div><label> <input type="radio" value="PAID" ng-model="filters.status"/> Paid </label> <label> <input type="radio" value="UNPAID" ng-model="filters.status"/> Unpaid </label> <label> <input type="radio" value="" ng-model="filters.status"/> Both</label></div>
	<a class="pull-right" href="#" ng-click="setDefaultFilters()">Reset filters</a>
	<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" ng-cloak>
      <tr ng-repeat="row in $data">
        <td data-title="'ID'" filter="{id__icontains: 'text'}"><a href="/payments/{{row.id}}/">{{row.id}}</a></td>
        <td data-title="'Order ID'" sortable="'order_id'" filter="{order_id__icontains: 'text'}">{{row.order_id}}</td>
        <td data-title="'Created'" sortable="'created'">{{row.created|date:'short'}}</td>
        <td data-title="'Amount'" sortable="'amount'">${{row.amount}}</td>
        <td data-title="'Paid at'" sortable="'paid_at'">{{row.paid_at|date:'short'}}</td>
        <td data-title="'Description'" filter="{description__icontains: 'text'}">{{row.description}}</td>
        <td data-title="'Status'" sortable="'status'">{{row.status}}</td>
        <td data-title="'Disabled'" sortable="'disabled'">{{row.disabled}}</td>
      </tr>
    </table>
</div>
{% endverbatim %}
</div>
{% endblock %}
{% block endhead %}
    <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
{% endblock %}
{% block endbody %}
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
    <script src="{% static 'js/services/DRFNgTable.js' %}"></script>
    <script>
    var app = angular.module("payments", ["DRFNgTable"]);
    (function() {

    	  //demoController.$inject = ["NgTableParams", "$http"];

    	  app.controller('EventsController', ['$scope','DRFNgTableParams', EventsController]);
    	  function EventsController($scope, DRFNgTableParams) {
    	  	$scope.init = function(id,statuses,processors,payment_statuses){
    	  		$scope.tableParams = DRFNgTableParams('/api/payments/',{sorting: { created: "desc" },filter:$scope.filters});
    	  		$scope.setDefaultFilters();
    	  		$scope.$watchCollection('filters', function(newFilters, oldFilters) {
    	  			angular.extend($scope.tableParams.filter(), newFilters);
    	  		});
//    	  		$scope.changeFilter = function(field, value){
//    	  		      var filter = {};
//    	  		      filter[field] = value;
//    	  		      angular.extend($scope.tableParams.filter(), filter);
//    	  		    }
    	  	};
    	  	$scope.setDefaultFilters = function () {
    	  		$scope.filters = {disabled: 'False', created__at__gte: null, created__at__lte: null, status: ''};
    	  		$scope.tableParams.filter({});
    	  	};
    	  };
    	  
    	  
    	})();
    </script>
{% endblock %}